@model LLVGFJCOJDMR.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="row">
        <form asp-action="Edit" class="card">
            <div class="card-header">
                <h1 class="card-text col-md-12">Editar Cliente</h1>
            </div>
            <div class="card-body row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-12" style="margin-top:10px;">
                    @await Html.PartialAsync("_PhonesNumbers", Model.PhoneNumbers)
                </div>
                <div class="form-group col-md-6" style="margin-top:10px;">
                    <input style="width:100%;" type="submit" value="Editar" class="btn btn-primary" />
                </div>
                <div class="col-md-6" style="margin-top:10px;">
                    <a class="btn btn-secondary" style="width:100%;" asp-action="Index">Cancelar</a>
                </div>
            </div>          
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
